@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@600;700&display=swap");

.container {
 margin-top: 30px;
 display: flex;
 justify-content:center;
}

.loggin span {
  display: block;
  color: white;
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.loggin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: none;
  box-shadow: 0 0 6px 4px rgb(2, 255, 10);
  border-radius: 20px;
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 255, 0.818),
    rgba(255, 0, 230, 0.818)
  );
}
.loggin input {
  width: 21rem;
  height: 20px;
  padding: 0.4rem;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: 'Advent Pro';
  font-weight: bold;
  font-size: medium;
  letter-spacing: 1.1px;
  color: rgb(255, 0, 2305);
  transition: 0.4s;
  background-color: rgba(250, 235, 215, 0.658);
  
}

.loggin input:hover {
  box-shadow: 0 0 6px 2px rgb(255, 0, 230);
}
.loggin input:focus {
  box-shadow: 0 0 6px 2px rgb(255, 0, 230);
}

.loggin button {
  width: 22rem;
  height: 35px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(0, 123, 255);
  border: none;
  color: white;
  font-family: 'Advent Pro';
  letter-spacing: 1.1px;
  font-weight: 600;
  font-size: x-large;
  cursor: pointer;
  transition: 0.6s;
}

.loggin button:hover {
  box-shadow: 0 0 5px 3px rgb(255, 0, 230);
  background-color: rgb(19, 223, 53);
  color: blue;
}
