.PaginationBtn {
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.288);
    color: rgba(0, 0, 0, 0.973);
    border-radius: 5px;
  
    width: 100px;
    font-family: 'Advent Pro';
    font-size:medium;
    letter-spacing: 1px;
    font-weight: 700;
}

.PaginationNumBtn {
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.288);
    border-radius: 5px;
    margin: 60px 5px 0 5px;
    font-family: 'Advent Pro';
    font-size:medium;
    letter-spacing: 1px;
    font-weight: 700;
}

.PaginationBtn:hover{
    box-shadow: 0 0 4px 3px rgb(255, 0, 230);
    background: rgba(255, 255, 255, 0.568);   
}